#root {
    margin: 0 0;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
}

.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
        animation: logo-spin infinite 20s linear;
    }
}

.card {
    padding: 2em;
}

.read-the-docs {
    color: #888;
}


/* override ant design notifications style */
.ant-notification-bottom.ant-notification-stack>.ant-notification-notice-wrapper {
    bottom: 50px;
}

.ant-notification .ant-notification-notice-wrapper .ant-notification-notice {
    padding: 8px;
    border-radius: 6px;
    max-width: calc(100vw - 32px);
}

.ant-notification .ant-notification-notice-wrapper .ant-notification-notice-with-icon .ant-notification-notice-message {
    font-size: 12px;
    line-height: 20px;
    font-weight: 400;
    margin-bottom: 0px;
}

.ant-notification .ant-notification-notice-wrapper .ant-notification-notice-icon-success.anticon,
.ant-notification .ant-notification-notice-wrapper .ant-notification-notice-icon-error.anticon {
    width: 20px;
    height: 20px;
    color: #FFFFFF;
}

.ant-notification .ant-notification-notice-wrapper .ant-notification-notice-close {
    top: 8px;
    right: 8px;
}

/* SUCCESS */
.custom-success-notification {
    background-color: green;
}

.custom-success-notification .ant-notification-notice-message,
.custom-success-notification .ant-notification-notice-close {
    color: #FFFFFF !important;
}

/* ERROR */
.custom-error-notification {
    background-color: red;
}

.custom-error-notification .ant-notification-notice-message,
.custom-error-notification .ant-notification-notice-close {
    color: #FFFFFF !important;
}


/* override ant desing input style */
.ant-input,
.ant-select-selector,
.ant-select-item,
.ant-select input {
    font-size: 16px !important;
}


/* override ant design collapse */
.ant-collapse-content>.ant-collapse-content-box {
    -webkit-overflow-scrolling: touch;
    /* smooth momentum scroll on iOS */
    overflow-y: auto;
    max-height: 80vh;
    /* or suitable max height */
    touch-action: pan-y;
    /* allow vertical scrolling */
}


/* override ant design skeleton */
.ant-skeleton .ant-skeleton-title,
.ant-skeleton .ant-skeleton-paragraph>li,
.ant-skeleton .ant-skeleton-avatar,
.ant-skeleton .ant-skeleton-input,
.ant-skeleton .ant-skeleton-image,
.ant-skeleton .ant-skeleton-button {
    background-color: rgba(255, 255, 255, 0.2) !important;
}


/* override auth-login-page */
.supabase-auth-ui_ui-input {
    font-size: 16px !important;
    color: #FFFFFF !important;
}


/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}