@import "tailwindcss";
@import "./styles/antd/index.scss";

:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    --primary-color: #4d4d4d;
    --secondary-color: #e69500;
    --white-color: #ffffff;
    --black-color: #2a2a2a;
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
}

/* override auth-login-page */
.supabase-auth-ui_ui-input {
    font-size: 16px !important;
    color: #ffffff !important;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}
